// src/styles/main.scss
@use './variables' as *;
@use './mixins' as *;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-primary;
  margin: 0;
  padding: 0;
  background-color: $bg-secondary;
}

#app {
  padding: $spacing-md;
}

// 通用样式类
.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: $spacing-xs;
}

.mb-2 {
  margin-bottom: $spacing-sm;
}

.mb-3 {
  margin-bottom: $spacing-md;
}

.mb-4 {
  margin-bottom: $spacing-lg;
}

.mb-5 {
  margin-bottom: $spacing-xl;
}